@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
.home-box{
    background-image: url("../Img/dash3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}